<main class="header-container">
  <!-- Menu lines and banner -->
  <div class="banner" (click)="navigateToHome()">
    <mat-icon class="banner-icon">devices_other</mat-icon>
    <span>OneStopTech</span>
  </div>

  <div class="profile-container">
    <!-- User icon -->
    <mat-icon>account_circle</mat-icon>
    <!-- User name -->
    <span class="user-name">{{ username$ | async }}</span>
    <!-- Menu -->
    <div class="arrow-menu">
      <button [matMenuTriggerFor]="menu" mat-icon-button>
        <mat-icon>keyboard_arrow_down</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <a class="tausy-user-guide" href="https://www.novopay.in/" mat-menu-item target="_blank">
          Help
        </a>
        <a (click)="onLogout()" class="tausy-user-logout" mat-menu-item> Logout </a>
      </mat-menu>
    </div>
  </div>
</main>
