@import "../../../shared/styles/variables.scss";

.header-container {
  position: fixed;
  height: 50px;
  background: $primary-60;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Roboto";

  .banner {
    display: flex;
    align-items: center;
    mat-icon {
      font-size: 20px;
    }
    span {
      font-size: 25px;
      font-size: 300;
      padding: 0 5px;
    }
  }
}
