@import "../../../shared/styles/_variables.scss";

.header-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 60px;
  width: 100vw;
  background: $primary-60;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Roboto";
  color: $primary-80;
  .banner {
    display: flex;
    align-items: center;
    padding-left: 4rem;
    .banner-icon {
      cursor: pointer;
    }
    span {
      cursor: pointer;
      font-size: 25px;
      font-weight: 300;
      padding: 0 1rem;
    }
  }

  .profile-container {
    display: flex;
    align-items: center;
    color: $primary-10;
    padding-right: 1rem;
    span.user-name {
      font-size: 20px;
      padding: 0 1rem;
    }
  }
}
