@import "../../../shared/styles/_variables.scss";
.side-panel {
  position: fixed;
  top: 60px;
  left: 0;
  z-index: 100;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 4rem;
  height: 100%;
  background: rgb(3, 51, 66);
  box-shadow: none;
  color: $primary-10;
  transition: width 0.3s ease, box-shadow 0.3s ease;
  &:hover {
    width: 14rem;
    transition: width 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 4px 7px 10px rgba(0, 0, 0, 0.4);
  }
  .nav {
    width: 100%;
    margin: 0;
    list-style: none;
    padding: 0;
    .nav-item {
      cursor: pointer;
      padding: 1rem;
      display: flex;
      align-items: center;
      height: 68px;
      background: transparent;
      transition: background 0.3s ease;
      .mat-icon {
        display: flex;
        align-items: center;
        font-size: 28px;
      }
      span {
        padding-left: 2rem;
        font-size: 20px;
      }
      &:hover {
        background: rgba(0, 0, 0, 0.4);
        transition: background 0.3s ease;
      }
      &.active-route {
        background: rgba(255, 208, 13, 0.3);
      }
    }
  }
}
