<section class="about-container">
  <div class="images-container">
    <figure class="main-bg">
      <img src="../../../assets/pics/one-stop-tech-1.jpg" />
    </figure>
  </div>
  <article>
    <header>We Empower People and Create Economic Opportunity</header>
    <main>
      OneStopTech is one of the top global e-commerce retailers that connects millions of buyers and
      sellers around the world. We exist to enable economic opportunity for individuals,
      entrepreneurs, businesses and organizations of all sizes. Our portfolio of brands includes
      OneTech Marketplace and OneTech Classifieds Group, operating in 190 markets around the world.
    </main>
  </article>
  <div class="images-container">
    <figure>
      <img src="../../../assets/pics/one-stop-tech-2.jpg" />
    </figure>
    <figure>
      <img src="../../../assets/pics/one-stop-tech-3.jpg" />
    </figure>
    <figure>
      <img src="../../../assets/pics/one-stop-tech-4.jpg" />
    </figure>
    <figure>
      <img src="../../../assets/pics/one-stop-tech-5.jpg" />
    </figure>
  </div>
</section>
