@import "./variables.scss";
@import "./loader.scss";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  padding: 0;
  box-sizing: border-box;
}
