@import "./variables.scss";
@import "./loader.scss";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  padding: 0;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 10px;
  height: 10px; // for horizontal scroll bar
}

*::-webkit-scrollbar-track {
  background: #ececec;
}

*::-webkit-scrollbar-thumb {
  background: #c6c6c6;
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb:hover {
  background: #555;
}
